.accountinfo-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .accountinfo-container h1,
  .accountinfo-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .accountinfo-container p {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .accountinfo-container ul {
    list-style-type: none;
    padding: 0;
  }
  
  .accountinfo-container li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .accountinfo-container li img {
    display: block;
    margin-top: 10px;
  }
  