/* src/styles/Filters.css */

.filters-container {
    padding-top: 30px;
    padding-bottom: 1px;
    text-align: center;
    margin: 20px 0;
  }
  
  .filters {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .filter-brace {
    font-size: 46px;
    font-weight: bold;
    margin: 0 30px; /* Ensure equal spacing around the braces */
  }
  
  .filter-item {
    filter: opacity(50%);
    transition: ease-in-out 0.3s;
    display: inline-block;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
    font-style: italic; /* Italicize the font */
  }
  
  .filter-item:hover {
    filter: none;
    color: #000;
  }
  
  .filters-line {
    width: 60px;
    height: 2px;
    background-color: #000;
    margin: 45px auto;
  }
  